* {margin: 0; padding: 0;}
body 
{
 background-image: url("assets/background.jpg");
 
}

.slider
{
	width: 395px; 
	margin: 0 0 0 0;
	position: relative;
	padding-top: 210px; 
	zoom:125%;
	
	
}


/*transitions*/
.slider>img
{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch']
{
	display: none;
}

.slider label 
{
	/*spacing for the thumbnails*/
	margin: 18px 0 0 4px;
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	
	opacity: 0.6;
}

.slider label img
{
	display: block;
}

/*click effects*/
.slider input[name='slide_switch']:checked+label 
{
	border-color: #666;
	opacity: 1;
}

.slider input[name='slide_switch'] ~ img 
{
	opacity: 0;
	transform: scale(1.1);
}

.slider input[name='slide_switch']:checked+label+img 
{
	opacity: 1;
	transform: scale(1);
}

.para1
{
	margin: -230px 0 0px 550px;
  zoom:100%;
}



.btn 
{
  margin: 0px 0 0px;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.button 
{
  border-color: #00ACF6;
  color: #00ACF6;
}

.button:hover 
{
  background-color: #00ACF6;
  color: white;
}

.rating 
{
  margin: 0px 0px 0px -5px; 	
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label 
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child 
{
  position: static;
}

.rating label:nth-child(1) 
{
  z-index: 5;
}

.rating label:nth-child(2) 
{
  z-index: 4;
}

.rating label:nth-child(3) 
{
  z-index: 3;
}

.rating label:nth-child(4) 
{
  z-index: 2;
}

.rating label:nth-child(5) 
{
  z-index: 1;
}

.rating label input 
{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon 
{
  float: left;
  color: transparent;
}

.rating label:last-child .icon 
{
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon 
{
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child 
{
  color: #000;
  text-shadow: 0 0 5px #09f;
}

h1 
{
  text-align: left;
}

.banner
{
  margin: 0px 0px 0px 0px;;
}

a.a:link 
{
  font-size: 20px;
  color:#7F7F7F;
}
a.a:visited 
{
  color:#7F7F7F;
}
a.a:hover 
{
  color:#FFB51E;
}